<div class="entry">
  <h3 class="h3">Scraper bikes, my scraper bike. Scraper bike go hard, don't need no car.</h3>
  <div class="outer">
    <p><span id="title"><%= @title %></span></p>
    <p><span id="release"><%= @release %></span></p>
    <p><span id="rating"><%= @rating %></span></p>
  </div>
</div>
